{{define "page"}}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        {{template "title"}}
        <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="assets/bundle.css" />
        <link rel="icon" href="assets/dach-logo-simplified.ico" />
        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
    </head>
    <body>
        {{template "content" .}}
    </body>
</html>
{{end}}

{{define "title"}}
<title>{{.Title}}</title>
{{end}}

{{define "content"}}
{{template "header" .}}
{{template "index.banner" .}}
{{template "index.hero"}}
{{template "index.navigation"}}
{{template "index.contact"}}
{{template "footer"}}
{{end}}

{{define "index.banner"}}
<section class="w-full h-[250px] xl:h-[400px] xl:rounded overflow-hidden">
    <div
        class="relative w-full h-full"
        x-data="{ activeSlide: 0 }"
        x-init="setInterval(() => activeSlide = (activeSlide + 1) % {{len .Events}}, 5000)"
    >
        {{range $index, $event := .Events}}
        <div
            class="absolute top-0 left-0 w-full h-full"
            x-show="activeSlide === {{$index}}"
            x-transition:enter="transition ease-out duration-500"
            x-transition:enter-start="opacity-0"
            x-transition:enter-end="opacity-100"
            x-transition:leave="transition ease-in duration-500"
            x-transition:leave-start="opacity-100"
            x-transition:leave-end="opacity-0"
        >
            <img
                class="absolute top-0 left-0 w-full h-full object-cover"
                src="{{.Preview.URL}}"
            />

            <label class="absolute bottom-6 left-6 font-medium text-2xl text-shadow-xl text-white">
                {{.Name}}
            </label>
        </div>
        {{end}}
    </div>
</section>
{{end}}

{{define "index.hero"}}
<section class="page-container mt-8 flex flex-col gap-5 md:flex-row md:justify-between md:gap-10">
    <h1 class="text-2xl leading-9">
        Українсько-німецьке об'єднання
    </h1>

    <p class="text-lg leading-8">
        у березні 2023
        <strong>зареєстрованo благодійною організацюєю</strong>,
        що на сьогоднішній день налічує
        <strong>більше 60 членів</strong>.
        За період існування
        <strong>реалізовано більше 100 проєктів</strong>
        різного масштабу.
    </p>

    <div class="flex gap-10">
        <button class="h-10 flex items-center gap-2 px-3 mt-5 md:mt-0 button-blue-600">
            {{template "icons/phone" "w-4"}}
            Contact
        </button>

        <button class="h-10 flex items-center gap-2 px-3 mt-5 md:mt-0 button-red-600">
            {{template "icons/heart" "w-4"}}
            Donate
        </button>
    </div>
</section>
{{end}}

{{define "index.navigation"}}

{{$card := "w-full flex flex-col lg:flex-row gap-8 p-6 border border-gray-200 rounded even:justify-self-end"}}
{{$icon := "row-span-2 w-28 min-w-28 h-28 min-h-28 rounded border border-gray-200 flex justify-center items-center"}}

<section class="mt-20">
    <h1 class="text-2xl col-span-full">
        Наші ініціативи
    </h1>

    <div class="grid gap-10 grid-cols-1 md:grid-cols-2 mt-5">
        <div class="{{$card}}">
            <div class="{{$icon}} bg-green-100">
                {{ template "icons/project" "w-20 h-20 fill-green-500" }}
            </div>

            <div>
                <h2 class="text-xl">
                    Проекти
                </h2>

                <p class="mt-4 text-lg">
                    Перша українська школа у Трірі, дитячий табір, арт майстерня, ...
                </p>

                <button
                    x-data
                    @click="window.location.href='/projects'"
                    class="button-blue-600 px-2 py-1 mt-6"
                >
                    Дізнатися більше
                </button>
            </div>
        </div>

        <div class="{{$card}}">
            <div class="{{$icon}} bg-amber-100">
                {{ template "icons/event" "w-20 h-20 fill-amber-500" }}
            </div>

            <div>
                <h2 class="text-xl">
                    Події
                </h2>

                <p class="mt-4 text-lg">
                    Концерти, виставки, лекції, волoнтерськa діяльність, ...
                </p>

                <button class="button-blue-600 px-2 py-1 mt-6">
                    Дізнатися більше
                </button>
            </div>
        </div>
    </div>
</section>
{{end}}

{{define "index.contact"}}
<section class="page-container mt-20 grid grid-cols-1 md:grid-cols-[3fr_4fr] gap-8 md:gap-20">
    <div class="flex flex-col gap-5">
        <h1 class="font-semibold text-2xl">
            Get in touch with us
        </h1>

        <p class="text-lg leading-8">
            Have questions? Either
            fill up the form on the right or
            send an email to info@dach-trier.com
        </p>
    </div>

    <form class="grid grid-cols-2 gap-4">
        {{$field := "flex flex-col justify-start items-start gap-1"}}
        {{$input := "w-full h-full rounded border border-gray-200 py-1.5 px-2 outline-none placeholder:text-gray-400"}}

        <div class="{{$field}}">
            <input class="{{$input}}" placeholder="first name" />
        </div>

        <div class="{{$field}}">
            <input class="{{$input}}" placeholder="last name" />
        </div>

        <div class="{{$field}}">
            <input class="{{$input}}" placeholder="email" />
        </div>

        <div class="{{$field}}">
            <input class="{{$input}}" placeholder="phone number" />
        </div>

        <textarea class="{{$input}} col-span-2 min-h-[100px]" placeholder="message"></textarea>

        <button type="button" class="button-blue-600 mt-4 px-3 py-1 w-fit col-span-2">
            Send
        </button>
    </form>
</section>
{{end}}
