<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Dach e.V. Trier</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="static/base.css" />
        <link rel="stylesheet" href="static/index.css" />
    </head>
    <body>
        <header class="header">
            <!--
            <div class="header__container">
                <div class="header__left">
                    <img class="header__logo" src="static/images/dach-logo.svg">
                    <label class="header__label">DACH e.V. Trier</label>
                </div>

                <div class="header__center">
                </div>

                <div class="header__right">
                </div>
            </div>
            -->
        </header>

        <main class="block">
            <section class="hero">
                <img class="hero__logo" src="static/images/dach-logo.svg">

                <h1 class="hero__heading">
                    DACH e.V. Trier
                </h1>

                <p class="hero__slogan">
                    Культурний простір об'єднання та інтеграції зростаючого
                    покоління
                </p>

                <div class="hero__controls">
                    <button class="hero__button button button-blue">
                        <svg class="hero__button__icon hero__contact__button__icon">
                            <use xlink:href="static/icons.svg#phone" />
                        </svg>

                        <label class="hero__button__label hero__contact__button__label">
                            Contact
                        </label>
                    </button>

                    <button class="hero__button button button-red">
                        <svg class="hero__button__icon hero__donate__button__icon">
                            <use xlink:href="static/icons.svg#heart" />
                        </svg>

                        <label class="hero__button__label">
                            Donate
                        </label>
                    </button>
                </div>
            </section>
        </main>

        <footer>
            <!-- -->
        </footer>
    </body>
</html>
