<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Dach e.V. Trier</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="static/base.css" />
        <link rel="stylesheet" href="static/index.css" />
        <script src="static/index.js"></script>
    </head>
    <body>
        <header class="header">
            <!--
            <div class="header__container">
                <div class="header__left">
                    <img class="header__logo" src="static/images/dach-logo.svg">
                    <label class="header__label">DACH e.V. Trier</label>
                </div>

                <div class="header__center">
                </div>

                <div class="header__right">
                </div>
            </div>
            -->
        </header>

        <main class="main">
            <section class="hero block">
                <div class="banner">
                    <img
                        class="banner__logo"
                        src="static/images/dach-logo.svg"
                    >

                    <h1 class="banner__heading">
                        DACH e.V. Trier
                    </h1>

                    <p class="banner__slogan">
                        Культурний простір об'єднання та інтеграції зростаючого
                        покоління
                    </p>

                    <div class="banner__button__container">
                        <button class="banner__button button button-blue button-rounded">
                            <svg class="banner__button__icon banner__contact__button__icon">
                                <use xlink:href="static/icons.svg#phone" />
                            </svg>

                            <label class="banner__button__label banner__contact__button__label">
                                Contact
                            </label>
                        </button>

                        <button class="banner__button button button-red button-rounded">
                            <svg class="banner__button__icon banner__donate__button__icon">
                                <use xlink:href="static/icons.svg#heart" />
                            </svg>

                            <label class="banner__button__label">
                                Donate
                            </label>
                        </button>
                    </div>
                </div>

                <div class="archive__carousel">
                    <div class="archive__carousel__slide__stack">
                        <div class="archive__carousel__slide archive__carousel__slide--active">
                            <img class="archive__carousel__slide__background" src="static/images/walzer.jpg" />
                            <h1  class="archive__carousel__slide__heading">Walzer</h1>
                        </div>

                        <div class="archive__carousel__slide">
                            <img class="archive__carousel__slide__background" src="static/images/art.jpg" />
                            <h1  class="archive__carousel__slide__heading">Art</h1>
                        </div>

                        <div class="archive__carousel__slide">
                            <img class="archive__carousel__slide__background" src="static/images/theater.jpg" />
                            <h1  class="archive__carousel__slide__heading">Theater</h1>
                        </div>

                        <div class="archive__carousel__slide">
                            <img class="archive__carousel__slide__background" src="static/images/gala.jpg" />
                            <h1  class="archive__carousel__slide__heading">Gala</h1>
                        </div>

                        <div class="archive__carousel__slide">
                            <img class="archive__carousel__slide__background" src="static/images/krzyzowa.jpg" />
                            <h1  class="archive__carousel__slide__heading">Krzyzowa</h1>
                        </div>

                        <div class="archive__carousel__slide">
                            <img class="archive__carousel__slide__background" src="static/images/band.jpg" />
                            <h1  class="archive__carousel__slide__heading">Band</h1>
                        </div>

                        <div class="archive__carousel__slide">
                            <img class="archive__carousel__slide__background" src="static/images/camp.jpg" />
                            <h1  class="archive__carousel__slide__heading">Camp</h1>
                        </div>

                        <div class="archive__carousel__slide">
                            <img class="archive__carousel__slide__background" src="static/images/bereginja.jpg" />
                            <h1  class="archive__carousel__slide__heading">Bereginja</h1>
                        </div>
                    </div>

                    <div class="archive__carousel__control__group button-group button-group-white button-group-rounded">
                        <button class="archive__carousel__control archive__carousel__control__prev">
                            <svg class="archive__carousel__control__icon">
                                <use xlink:href="static/icons.svg#left-arrow" />
                            </svg>
                        </button>
                        <button class="archive__carousel__control archive__carousel__control__next">
                            <svg class="archive__carousel__control__icon">
                                <use xlink:href="static/icons.svg#right-arrow" />
                            </svg>
                        </button>
                    </div>

                    <div class="archive__carousel__timer__container">
                        <span class="archive__carousel__timer__bar">
                            <span class="archive__carousel__timer"></span>
                        </span>
                    </div>

                    <script>
                        ArchiveCarousel(me())
                    </script>
                </div>
            </section>
        </main>

        <footer>
            <!-- -->
        </footer>
    </body>
</html>
