<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Dach e.V. Trier</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="static/base.css" />
        <link rel="stylesheet" href="static/index.css" />
        <script src="static/index.js"></script>
    </head>
    <body>
        <header class="header">
            <div class="header__container">
                <div class="header__organization">
                    <img class="header__organization__logo"
                           src="static/images/dach-logo.svg">

                    <strong class="header__organization__name">
                        DACH e.V. Trier
                    </strong>
                </div>
            </div>
        </header>

        <section class="highlights">
            <div class="highlight__image__container">
                <!-- must be in the same order as captions (see below) -->

                <img class="highlight__image" data-state="active"   src="static/images/walzer.jpg" />
                <img class="highlight__image" data-state="inactive" src="static/images/art.jpg" />
                <img class="highlight__image" data-state="inactive" src="static/images/theater.jpg" />
                <img class="highlight__image" data-state="inactive" src="static/images/gala.jpg" />
                <img class="highlight__image" data-state="inactive" src="static/images/krzyzowa.jpg" />
                <img class="highlight__image" data-state="inactive" src="static/images/band.jpg" />
                <img class="highlight__image" data-state="inactive" src="static/images/camp.jpg" />
                <img class="highlight__image" data-state="inactive" src="static/images/bereginja.jpg" />
            </div>

            <div class="highlight__overlay">
                <div class="highlight__label__container">
                    <!-- must be in the same order as images (see above) -->

                    <label class="highlight__label" data-state="active">Walzer</label>
                    <label class="highlight__label" data-state="inactive">Art</label>
                    <label class="highlight__label" data-state="inactive">Theater</label>
                    <label class="highlight__label" data-state="inactive">Gala Konzert</label>
                    <label class="highlight__label" data-state="inactive">Krzuzowa</label>
                    <label class="highlight__label" data-state="inactive">Band</label>
                    <label class="highlight__label" data-state="inactive">Camp</label>
                    <label class="highlight__label" data-state="inactive">Bereginja</label>
                </div>
            </div>

            <script>
                Highlights(me())
            </script>
        </section>

        <main class="main">
            <section class="hero">
                <strong class="hero__strong">
                    Українсько-німецьке об'єднання
                </strong>

                <p class="hero__paragraph">
                    у березні 2023
                    <strong>зареєстрованo благодійною організацюєю</strong>
                    , що на сьогоднішній день налічує
                    <strong>більше 60 членів</strong>.
                    За період існування
                    <strong>реалізовано більше 100 проєктів</strong>
                    різного масштабу.
                </p>

                <div class="hero__button__container">
                    <button class="hero__contact__button">
                        <svg class="hero__contact__button__icon">
                            <use xlink:href="static/icons.svg#phone" />
                        </svg>

                        <label class="hero__contact__button__label">
                            Contact
                        </label>
                    </button>

                    <button class="hero__donate__button">
                        <svg class="hero__donate__button__icon">
                            <use xlink:href="static/icons.svg#heart" />
                        </svg>

                        <label class="hero__donate__button__label">
                            Donate
                        </label>
                    </button>
                </div>

            </section>

            <section class="priority__card__container block">
                <div class="education__priority__card priority__card">
                    <div class="education__priority__card__icon__container priority__card__icon__container">
                        <svg class="education__priority__card__icon priority__card__icon">
                            <use xlink:href="static/icons.svg#graduation-cap" />
                        </svg>
                    </div>

                    <div class="priority__card__text">
                        <strong class="priority__card__text__strong">
                            Освіта та культура
                        </strong>

                        <p class="priority__card__text__paragraph">
                            Вивчення української мови, збереження
                            національної ідентичості та культурної дипломатії
                        </p>
                    </div>
                </div>

                <div class="support__priority__card priority__card">
                    <div class="support__priority__card__icon__container priority__card__icon__container">
                        <svg class="support__priority__card__icon priority__card__icon">
                            <use xlink:href="static/icons.svg#handshake" />
                        </svg>
                    </div>

                    <div class="priority__card__text">
                        <strong class="priority__card__text__strong">
                            Інтергаційна підтримка
                        </strong>

                        <p class="priority__card__text__paragraph">
                            Допомога в юридичних, соціальних та психологічних питаннях
                        </p>
                    </div>
                </div>

                <div class="connection__priority__card priority__card">
                    <div class="connection__priority__card__icon__container priority__card__icon__container">
                        <svg class="connection__priority__card__icon priority__card__icon">
                            <use xlink:href="static/icons.svg#network" />
                        </svg>
                    </div>

                    <div class="priority__card__text">
                        <strong class="priority__card__text__strong">
                            Зміцнення зв'язків
                        </strong>

                        <p class="priority__card__text__paragraph">
                            Організація культурних заходів (концерти, виставки, лекції, тощо)
                            та розвиток молодіжних ініціатив
                        </p>
                    </div>
                </div>

                <div class="understanding__priority__card priority__card">
                    <div class="understanding__priority__card__icon__container priority__card__icon__container">
                        <svg class="understanding__priority__card__icon priority__card__icon">
                            <use xlink:href="static/icons.svg#globe" />
                        </svg>
                    </div>

                    <div class="priority__card__text">
                        <strong class="priority__card__text__strong">
                            Міжнародне порозуміння
                        </strong>

                        <p class="priority__card__text__paragraph">
                            Розвиток гуманітарних проєктів між Німеччиною та
                            Україною та участь у мультикультурному житті міста
                            Трір
                        </p>
                    </div>
                </div>
            </section>
        </main>

        <footer class="footer block">
            <div class="footer__organization">
                <img
                    class="footer__organization__logo"
                    src="static/images/dach-logo.svg"
                    >

                <label class="footer__organization__name">
                    DACH e.V. Trier
                </label>
            </div>

            <!-- Contact -->

            <label class="footer__contact__heading footer__heading">
                Contact
            </label>

            <div class="footer__contact__block footer__block">
                <div class="footer__contact__block__item footer__block__item">
                    <svg class="footer__contact__block__item__icon footer__block__item__icon">
                        <use xlink:href="static/icons.svg#mail" />
                    </svg>

                    <label class="footer__contact__block__item__label footer__block__item__label">
                        info@dach-trier.com
                    </label>
                </div>
            </div>

            <!-- Social -->

            <label class="footer__social__heading footer__heading">
                Social
            </label>

            <div class="footer__social__block footer__block">
                <div class="footer__social__block__item footer__block__item">
                    <svg class="footer__social__block__item__icon footer__block__item__icon">
                        <use xlink:href="static/icons.svg#instagram" />
                    </svg>

                    <label class="footer__social__block__item__label footer__block__item__label">
                        Instagram
                    </label>
                </div>

                <div class="footer__social__block__item footer__block__item">
                    <svg class="footer__social__block__item__icon footer__block__item__icon">
                        <use xlink:href="static/icons.svg#facebook" />
                    </svg>

                    <label class="footer__social__block__item__label footer__block__item__label">
                        Facebook
                    </label>
                </div>
            </div>

            <!-- Legal -->

            <label class="footer__legal__heading footer__heading">
                Legal
            </label>

            <div class="footer__legal__block footer__block">
                <div class="footer__legal__block__item footer__block__item">
                    <svg class="footer__legal__block__item__icon footer__legal__block__item__document__icon footer__block__item__icon">
                        <use xlink:href="static/icons.svg#document" />
                    </svg>

                    <label class="footer__legal__block__item__label footer__block__item__label">
                        Статут
                    </label>
                </div>

                <div class="footer__legal__block__item footer__block__item">
                    <svg class="footer__legal__block__item__icon footer__block__item__icon">
                        <use xlink:href="static/icons.svg#thumbs-up" />
                    </svg>

                    <label class="footer__legal__block__item__label footer__block__item__label">
                        Рекомендація
                    </label>
                </div>

                <div class="footer__legal__block__item footer__block__item">
                    <svg class="footer__legal__block__item__icon footer__block__item__icon">
                        <use xlink:href="static/icons.svg#privacy" />
                    </svg>

                    <label class="footer__legal__block__item__label footer__block__item__label">
                        Privacy Policy
                    </label>
                </div>
            </div>

            <!-- Maintenance -->

            <label class="footer__maintenance__heading footer__heading">
                Maintenance
            </label>

            <div class="footer__maintenance__block footer__block">
                <div class="footer__maintenance__block__item footer__block__item">
                    <svg class="footer__maintenance__block__item__icon footer__maintenance__block__item__at__icon footer__block__item__icon">
                        <use xlink:href="static/icons.svg#at" />
                    </svg>

                    <label class="footer__maintenance__block__item__label footer__block__item__label">
                        hiegz
                    </label>
                </div>

                <div class="footer__maintenance__block__item footer__block__item">
                    <svg class="footer__maintenance__block__item__icon footer__maintenance__block__item__mail__icon footer__block__item__icon">
                        <use xlink:href="static/icons.svg#mail" />
                    </svg>

                    <label class="footer__maintenance__block__item__label footer__block__item__label">
                        hello@hiegz.com
                    </label>
                </div>

                <div class="footer__maintenance__block__item footer__block__item">
                    <svg class="footer__maintenance__block__item__icon footer__maintenance__block__item__issue__icon footer__block__item__icon">
                        <use xlink:href="static/icons.svg#issues" />
                    </svg>

                    <label class="footer__maintenance__block__item__label footer__block__item__label">
                        Issues
                    </label>
                </div>

                <div class="footer__maintenance__block__item footer__block__item">
                    <svg class="footer__maintenance__block__item__icon footer__maintenance__block__item__code__icon footer__block__item__icon">
                        <use xlink:href="static/icons.svg#code" />
                    </svg>

                    <label class="footer__maintenance__block__item__label footer__block__item__label">
                        Source code
                    </label>
                </div>
            </div>

            <!-- Copyright -->

            <label class="footer__copyright">
                (c) 2026 DACH e.V. Trier. All rights reserved
            </label>
        </footer>
    </body>
</html>
