//
// Breakpoints
//

$size-xs: 320px;

//
// Text sizes
//

$text-base: 1rem;
$text-lg:   1.125rem;
$text-xl:   1.25rem;
$text-2xl:  1.5rem;
$text-3xl:  1.875rem;
$text-4xl:  2rem;

//
// Colors
//

$color-red-600:  oklch(57.7% 0.245 27.325);
$color-red-700:  oklch(50.5% 0.213 27.518);
$color-red-800:  oklch(44.4% 0.177 26.899);

$color-blue-600: oklch(54.6% 0.245 262.881);
$color-blue-700: oklch(48.8% 0.243 264.376);
$color-blue-800: oklch(42.4% 0.199 265.638);
