@use "_variables.scss" as *;
@use "_mixins.scss" as *;

body, main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

body {
    gap: 50px;
}

main {
    gap: 100px;
}

/**
 *
 */
.header {
    height: 40px;
}

/**
 * hero
 */

.hero {
    display: flex;
    gap: 80px;

    @include break(xxs) {
        flex-direction: column;
    }

    @include break(md) {
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        gap: 40px;
    }
}

/**
 * banner
 */

.banner__logo {
    width: 175px;
}

.banner__heading {
    margin-top: 40px;

    font-size: $text-4xl;
    font-weight: 700;
}

.banner__slogan {
    margin-top: 30px;
    font-size: $text-xl;
    line-height: 32px;
}

.banner__button__container {
    margin-top: 40px;
    display: flex;
    gap: 40px;
}

.banner__button {
    height: 40px;
    padding: 0 12px;

    display: flex;
    align-items: center;
    gap: 8px;
}

.banner__button__icon {
    aspect-ratio: 1/1;
    fill: white;
}

.banner__button__label {
    color: white;
    font-weight: 500;
}

.banner__contact__button__icon {
    position: relative;
    bottom: 1px;
    width: 16px;
}

.banner__donate__button__icon {
    width: 18px;
}

/**
 * archive
 */

.archive__carousel {
    position: relative;

    @include break(xxs) {
        width: 100%;
        height: 250px;
    }

    @include break(xs) {
        height: 300px;
    }

    @include break(md) {
        flex: 0 0 55%;
        height: auto;
    }
}

.archive__carousel__slide__stack {
    width: 100%;
    height: 100%;
}

.archive__carousel__slide {
    /**
     * Set archive__carousel__slide--active to set opacity to 1
     */
    opacity: 0;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    width: 100%;
    height: 100%;
    padding: 20px 24px;
    border-radius: 4px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    overflow: hidden;

    transition: opacity .5s ease-in-out;
}

.archive__carousel__slide--active {
    opacity: 1;
}

.archive__carousel__slide__background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;

    width: 100%;
    height: 100%;

    object-fit: cover;
}

.archive__carousel__slide__heading {
    width: fit-content;

    color: white;
    text-shadow: 2px 2px 5px black;
    font-size: $text-3xl;
    font-weight: 600;
}

.archive__carousel__slide__cta {
    margin-top: 8px;
    color: white;
    text-shadow: 2px 2px 5px black;
    font-size: $text-lg;
}

.archive__carousel__control__group {
    position: absolute;
    bottom: 20px;
    right: 24px;

}

.archive__carousel__control {
    padding: 4px 8px;
}

.archive__carousel__control__icon {
    width: 23px;
    height: 23px;
    fill: black;
}

.archive__carousel__timer__container {
    position: absolute;
    top: 20px;
    right: 24px;

    width: 78px;
    height: 24px;
    padding: 0 12px;
    box-sizing: border-box;
    border-radius: 4px;

    display: flex;
    justify-content: start;
    align-items: center;

    background-color: white;
}

.archive__carousel__timer__bar {
    width: 100%;
    height: 4px;
    border-radius: 8px;
    background: $color-gray-300;
}

.archive__carousel__timer {
    display: block;
    width: 50%;
    height: 100%;
    border-radius: 8px;
    background-color: black;
}

/**
 * priorities
 */

.priority__card__container {
    @include break(xxs) {
        width: calc(100% - 42px); // .block's default
    }

    @include break(md) {
        width: calc(100% - 160px);
    }

    display: flex;
    flex-direction: column;

    gap: 80px;
}

.priority__card {
    display: flex;
    align-items: center;
}

.priority__card__icon__container {
    width: 168px;
    min-width: 168px;
    height: 168px;
    min-height: 168px;

    border-radius: 100%;
    border: 1px solid $color-gray-200;

    display: flex;
    justify-content: center;
    align-items: center;
}

.priority__card__icon {
    width: 92px;
}

.priority__card__text {
    width: fit-content;
    max-width: 500px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.priority__card__text__strong {
    font-size: $text-3xl;
    font-weight: 600;
}

.priority__card__text__paragraph {
    font-size: $text-xl;
    line-height: 32px;
}

/**
 * priorities:education
 */

.education__priority__card {
    text-align: left;
    justify-content: flex-start;

    @include break(xxs) {
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
    }

    @include break(sm) {
        flex-direction: row;
        align-items: center;
        gap: 60px;
    }
}

.education__priority__card__icon__container {
    background-color: $color-green-100;
}

.education__priority__card__icon {
    fill: $color-green-500;
}

/**
 * priorities:support
 */

.support__priority__card {
    text-align: right;

    @include break(xxs) {
        flex-direction: column;
        align-items: flex-end;
        gap: 40px;
    }

    @include break(sm) {
        flex-direction: row-reverse;
        align-items: center;
        gap: 60px;
    }
}

.support__priority__card__icon__container {
    background-color: $color-amber-100;
}

.support__priority__card__icon {
    fill: $color-amber-500;
}

/**
 * priorities:connection
 */

.connection__priority__card {
    text-align: left;

    @include break(xxs) {
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
    }

    @include break(sm) {
        flex-direction: row;
        align-items: center;
        gap: 60px;
    }
}

.connection__priority__card__icon__container {
    background-color: $color-blue-100;
}

.connection__priority__card__icon {
    fill: $color-blue-500;
}

/**
 * priorities:understanding
 */

.understanding__priority__card {
    text-align: right;

    @include break(xxs) {
        flex-direction: column;
        align-items: flex-end;
        gap: 40px;
    }

    @include break(sm) {
        flex-direction: row-reverse;
        align-items: center;
        gap: 60px;
    }
}

.understanding__priority__card__icon__container {
    background-color: $color-red-100;
}

.understanding__priority__card__icon {
    fill: $color-red-500;
}

/**
 * footer
 */

.footer {
    &::before {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background: black;
    }

    @include break(xxs) {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        display: flex;

        gap: 20px;
    }

    @include break(md) {
        flex-direction: initial;
        justify-content: initial;
        align-items: initial;

        display: grid;
        grid-template-columns: repeat(4, auto);
        grid-template-rows: repeat(5, auto);

        gap: initial;
        row-gap: 20px;
        column-gap: 40px;

        &::before {
            grid-column: span 4;
        }
    }

    @include break(xl) {
        flex-direction: initial;
        justify-content: initial;
        align-items: initial;

        display: grid;
        grid-template-columns: max-content repeat(4, auto);
        grid-template-rows: repeat(4, auto);

        gap: initial;
        row-gap: 20px;
        column-gap: 80px;

        &::before {
            grid-column: span 5;
        }
    }

}

.footer__heading {
    font-weight: 600;

    @include break(xxs) {
        align-self: start;
        margin-top: 20px;
    }

    @include break(md) {
        align-self: center;
        margin-top: 20px;
    }

    @include break(xl) {
        align-self: center;
        margin-top: 0;
    }
}

/**
 * footer:block
 */

.footer__block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
}

.footer__block__item {
    display: flex;
    gap: 8px;
    align-items: center;
}

.footer__block__item__icon {
    width: 16px;
    height: 16px;
}

.footer__block__item__label {
    color: black;
}

/**
 * footer organization
 */

.footer__organization {
    display: flex;

    @include break(xxs) {
        flex-direction: row;
        align-items: center;
        align-self: start;
    }

    @include break(md) {
        flex-direction: column;
        align-items: flex-start;
        align-self: start;

        grid-row: 2;
        grid-column: 1 / span 4;
    }

    @include break(xl) {
        flex-direction: row;
        align-items: center;
        align-self: center;

        grid-row: 2;
        grid-column: 1;
    }

    gap: 12px;
}

.footer__organization__logo {
    aspect-ratio: square;
    width: 32px;
}

.footer__organization__name {
    font-weight: 600;
}

/**
 * footer:contact
 */

.footer__contact__heading {
    @include break(md) {
        grid-row: 3;
        grid-column: 1;
    }

    @include break(xl) {
        grid-row: 2;
        grid-column: 2;
    }
}

.footer__contact__block {
    @include break(md) {
        grid-row: 4;
        grid-column: 1;
    }

    @include break(xl) {
        grid-row: 3;
        grid-column: 2;
    }
}

.footer__contact__block__item__icon {
    fill: none;
    stroke: black;
    stroke-width: 2;
}

/**
 * footer:social
 */

.footer__social__heading {
    @include break(md) {
        grid-row: 3;
        grid-column: 2;
    }

    @include break(xl) {
        grid-row: 2;
        grid-column: 3;
    }
}

.footer__social__block {
    @include break(md) {
        grid-row: 4;
        grid-column: 2;
    }

    @include break(xl) {
        grid-row: 3;
        grid-column: 3;
    }
}


/**
 * footer:legal
 */

.footer__legal__heading {
    @include break(md) {
        grid-row: 3;
        grid-column: 3;
    }

    @include break(xl) {
        grid-row: 2;
        grid-column: 4;
    }
}

.footer__legal__block {
    @include break(md) {
        grid-row: 4;
        grid-column: 3;
    }

    @include break(xl) {
        grid-row: 3;
        grid-column: 4;
    }
}

.footer__legal__block__item__document__icon {
    stroke: black;
    fill: none;
}

/**
 * footer:maintenance
 */

.footer__maintenance__heading {
    @include break(md) {
        grid-row: 3;
        grid-column: 4;
    }

    @include break(xl) {
        grid-row: 2;
        grid-column: 5;
    }
}

.footer__maintenance__block {
    @include break(md) {
        grid-row: 4;
        grid-column: 4;
    }

    @include break(xl) {
        grid-row: 3;
        grid-column: 5;
    }
}

.footer__maintenance__block__item__at__icon {
    stroke: black;
}

.footer__maintenance__block__item__mail__icon {
    fill: none;
    stroke: black;
    stroke-width: 2;
}

.footer__maintenance__block__item__issues__icon {
    fill: none;
    stroke: black;
    stroke-width: 2;
}

.footer__maintenance__block__item__code__icon {
    fill: black;
    stroke: none;
}

/**
 * footer:copyright
 */

.footer__copyright {
    line-height: 24px;

    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;

    @include break(md) {
        grid-row: 5;
        grid-column: 1 / span 4;
    }

    @include break(xl) {
        grid-row: 4;
        grid-column: 1/ span 5;
    }
}
