@use "index/_focus.scss";
@use "index/_footer.scss";
@use "index/_header.scss";
@use "index/_hero.scss";
@use "index/_highlights.scss";

body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

header {
    background: white;
}

main {
    background: white;

    display: flex;
    flex-direction: column;
    align-items: stretch;
}

footer {
    background: white;
}
